<%- include ("header.ejs") %>
<h2 class="p-2 border bg-dark text-white">
    Admin vagas:
    <a href="/admin/vagas">Vaga</a>
</h2>

<div class="">

    <form class="" action="">
        <div class="form-group col-5">
            <label for="">Titulo:</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group col-5">
            <label for="">Descrição:</label>
            <textarea  class="form-control" name="" id="" cols="30" rows="10"></textarea></div>
        <div class="form-group col-5"><label for="">Categoria:</label>
            <select class="form-control" name="" id="">
                 <option value="">Engenharia</option>
                 <option value="">Marketing</option>
           </select>
            <br>
        <button class="btn btn-dark">Salvar vaga</button>
        </div>


    </form>
</div>
<%- include ("footer.ejs") %>
