      <%- include ("header.ejs") %>
      <h2 class="p-2 border bg-dark text-white">
        Fullstack Developer (Remote)
      </h2>
      <div>
        <h3>Engineering team</h3>
        <ul>
          <li>
            <a class="text-decoration-none text-reset" href="vaga"
              >Fullstack Developer (Remote)</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h3>Marketing team</h3>
        <ul>
          <li>Digital Marketing (San Francisco)</li>
        </ul>
      </div>

      
      <%- include ("footer.ejs") %>
